<section class="about-section">
  <div class="container about-container">
    <div class="about-text-wrapper">
      <h2 class="secondary-heading about-title">Про Меблерію</h2>
      <p class="body-text about-text">
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному
        домі. Наша місія - пропонувати високоякісні меблі, що поєднують у собі
        сучасний дизайн, довговічність та доступність. Ми віримо, що ідеальний
        інтер'єр починається з правильних меблів.
      </p>
    </div>
    <div class="about-img-wrapper">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ../img/svg/about-us_img/about-us-desk.jpg    1x,
            ../img/svg/about-us_img/about-us-desk@2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ../img/svg/about-us_img/about-us-tabl.jpg    1x,
            ../img/svg/about-us_img/about-us-tabl@2x.jpg 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ../img/svg/about-us_img/about-us-mob.jpg    1x,
            ../img/svg/about-us_img/about-us-mob@2x.jpg 2x
          "
        />
        <img
          class="about-img"
          src="../img/svg/about-us_img/about-us-tabl.jpg"
          alt="image"
          width="704"
          height="436"
        />
      </picture>
    </div>
  </div>
</section>
