<section id="faq-section">
  <div class="container">
    <h2 class="secondary-heading">Часті питання</h2>
    <div class="accordion-container">
      <div class="acc-">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Lorem ipsum dolor sit amet.
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
