<section class="section-feedback">
  <div class="container">
    <h2 class="feedback-name" id="feedback">Відгуки клієнтів</h2>
    <p class="feedback-p">
      Дізнайтеся, що кажуть наші задоволені клієнти про наші меблі.
    </p>
    <div class="feedback-slider-wrapper">
      <div class="feedback-swiper swiper">
        <div class="swiper-wrapper"></div>
      </div>
      <div class="feedback-controls">
        <div class="feedback-pagination swiper-pagination"></div>
        <div class="feedback-nav-buttons">
          <button id="prevBtn" class="nav-btn" aria-label="Попередній відгук">
            <svg class="btn-left" width="25" height="25">
              <use href="/img/svg/icon.svg#up-arrow-alt"></use>
            </svg>
          </button>
          <button id="nextBtn" class="nav-btn" aria-label="Наступний відгук">
            <svg class="btn-right" width="25" height="25">
              <use href="/img/svg/icon.svg#up-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
