<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Меблерія - Футер</title>
    <link rel="stylesheet" href="../css/footer.css">
</head>

<body>
    <footer class="footer">
        <div class="container">
            <a href="/" class="footer-logo">
                <svg class="footer-logo-icon">
                    <use href="/img/svg/icon.svg#Company-Logo"></use>
                </svg>
            </a>
            <p class="footer-copyright">
                &copy; <span id="current-year"></span> project-fur04nit04ure. Всі права захищені.
            </p>
            <nav class="footer-nav">
                <ul class="footer-nav-list">
                    <li><a href="#our-furniture" class="footer-nav-link">Наші меблі</a></li>
                    <li><a href="#about-us" class="footer-nav-link">Про нас</a></li>
                    <li><a href="#faq" class="footer-nav-link">Часті питання</a></li>
                    <li><a href="#reviews" class="footer-nav-link">Відгуки</a></li>
                </ul>
            </nav>
            <ul class="footer-social-list">
                <li>
                    <a href="https://www.youtube.com/" class="footer-social-link" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer-social-icon" width="24" height="24">
                            <use href="/img/svg/icon.svg#Youtube"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/" class="footer-social-link" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer-social-icon" width="24" height="24">
                            <use href="/img/svg/icon.svg#Instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/" class="footer-social-link" target="_blank"
                        rel="noopener noreferrer">
                        <svg class="footer-social-icon" width="24" height="24">
                            <use href="/img/svg/icon.svg#Facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="../js/year.js"></script>
</body>

</html>