<section class="furniture-list" id="furniture">
  <div class="container">
    <div id="loader" class="loader hidden" aria-hidden="true"></div>
    <h2 class="secondary-heading section-title">Наші меблі</h2>
    <p class="body-text">Знайдіть ідеальні рішення для вашого інтерьеру</p>
    <ul class="furniture-categories-list"></ul>
    <ul class="furniture-gallery"></ul>
    <div class="wrapper">
      <button class="show-more-button visually-hidden" type="button">
        Показати ще
      </button>
    </div>
  </div>
</section>
