<header class="header">
  <div class="container">
    <div class="header-container">
      <a href="./index.html" class="logo" id="logo">
        <img src="/img/svg/logo.svg" alt="Company-Logo" />
      </a>

      <nav class="nav">
        <ul class="desktop-navigation-list">
          <li><a href="#furniture" class="nav-link">Наші меблі</a></li>
          <li><a href="#about-us" class="nav-link">Про нас</a></li>
          <li><a href="#faq-section" class="nav-link">Часті питання</a></li>
          <li><a href="#feedback" class="nav-link">Відгуки</a></li>
          <li><a href="#furniture" class="cta-button">До покупок</a></li>
        </ul>
      </nav>

      <div class="menu-toggle-buttons">
        <button class="burger" id="burger">
          <svg class="burger-icon">
            <use href="/img/svg/menu.svg"></use>
          </svg>
        </button>
        <button class="close-menu" id="closeMenu">
          <svg class="close-icon">
            <use href="/img/svg/x.svg"></use>
          </svg>
        </button>
      </div>
      <div class="mobile-menu" id="mobileMenu">
        <div class="mobile-menu-content">
          <nav class="mobile-nav">
            <ul class="mobile-navigation-list">
              <li class="mobile-navigation-item">
                <a href="#furniture" class="mobile-nav-link">Наші меблі</a>
              </li>
              <li class="mobile-navigation-item">
                <a href="#about-us" class="mobile-nav-link">Про нас</a>
              </li>
              <li class="mobile-navigation-item">
                <a href="#faq-section" class="mobile-nav-link">Часті питання</a>
              </li>
              <li class="mobile-navigation-item">
                <a href="#feedback" class="mobile-nav-link">Відгуки</a>
              </li>
              <li class="mobile-navigation-item">
                <a href="#furniture" class="mobile-cta-button">До покупок</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
