<div class="modal-overlay" data-modal>
  <div class="modal-furniture-details">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="icon-close" width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <ul class="furniture-galery-list"></ul>
    <div class="furniture-details-content">
      <h2 class="product-title"></h2>
      <p class="product-category"></p>
      <p class="product-price"><span>грн</span></p>

      <div class="rating" id="productRating"></div>

      <p class="title-color">Колір</p>
      <ul class="color-list" id="colorOptions">
        <li><input class="chekbox-color visually-hidden" type="checkbox" name="choosed-color" id="choosedColor"
            value="true"></li>
        <li><input type="checkbox"></li>
        <li><input type="checkbox"></li>
      </ul>

      <p id="productDescription" class="description"></p>
      <p class="product-dimensions">Розміри:<span id="productDimensions"></span></p>

      <a id="orderLink" class="order-button" href="#" target="_blank">Перейти до замовлення</a>
    </div>
  </div>
</div>





</div>
</div>