<div class="order-modal-overlay">
  <div class="order-modal">
    <button class="modal-close" aria-label="Закрити">
      <svg class="icon" width="32" height="32">
        <use href="/img/svg/icon.svg#close"></use>
      </svg>
    </button>
    <h2 class="secondary-heading">Замовити зворотний зв’язок</h2>
    <form id="orderForm" class="order-form">
      <label class="order-form-label">
        Email*
        <input
          type="email"
          name="email"
          class="order-form-input"
          placeholder="123@gmail.com"
          required
        />
      </label>
      <label class="order-form-label">
        Телефон*
        <input
          type="text"
          name="phone"
          id="phone-input"
          class="order-form-input"
          placeholder="+38 (099) 123 22 11"
          required
          pattern="^\+?[0-9\s\-\(\)]{7,}$"
        />
      </label>
      <label class="order-form-label">
        Коментар
        <textarea
          name="comment"
          class="order-form-input"
          placeholder="Type your message..."
          rows="4"
        ></textarea>
      </label>
      <button type="submit" class="submit-btn">Надіслати заявку</button>
    </form>
    <div id="loader" class="loader hidden"></div>
  </div>
</div>
