<div class="success-modal-overlay" data-modal>
  <div class="success-modal modal-window">
    <button class="success-modal-close" aria-label="Закрити">
      <svg class="success-close-icon" width="32" height="32">
        <use href="/img/svg/icon.svg#close"></use>
      </svg>
    </button>
    <h2 class="secondary-heading">Вітаємо!</h2>
    <p class="success-modal-text">
      Ваше замовлення <strong>25-<span id="order-number"></span></strong> на <strong><span id="order-name"></span></strong> в кольорі <span
        id="order-color"></span> прийнято!
    </p>
    <p class="success-modal-text">Очікуйте дзвінка менеджера!</p>
  </div>
</div>

<script type="module" src="../js/modal-success.js"></script>