<div class="gallery"></div>
<div class="modal-overlay" data-modal>
  <div class="modal-field">
    <button class="modal-close-btn" type="button" data-modal-close>
      <svg class="icon-close" width="32" height="32">
        <use href="./img/svg/icon.svg#close"></use>
      </svg>
    </button>

    <ul class="gallery-details"></ul>

    <div class="content-wrapper">
      <h2 class="details-title"></h2>
      <p class="details-category"></p>
      <p class="details-price">9 999 <span class="price-currency">грн</span></p>

      <div id="rating">
        <svg class="star" width="16" height="16">
          <use href="../public/img/svg/icon.svg#star-full"></use>
        </svg>
      </div>

      <p class="color-title">Колір</p>
      <ul class="color-options"></ul>

      <p class="details-description"></p>

      <p class="details-size-text">
        Розміри:<span class="details-size">280x180x85</span>
      </p>

      <button class="btn modal-order-btn" type="button">
        Перейти до замовлення
      </button>
    </div>
  </div>
</div>
