<section class="section-products" id="popular-products">
  <div class="container">
    <h2 class="products-title">Популярні товари</h2>
    <div class="products-slider-wrapper">
      <div class="products-swiper swiper">
        <div class="swiper-wrapper"></div>
      </div>
      <div class="products-controls">
        <div class="products-pagination swiper-pagination"></div>
        <div class="products-nav-buttons">
          <button
            id="prevBtnPopular"
            class="nav-btn"
            aria-label="Попередній товар"
          >
            <svg class="btn-left" width="25" height="25">
              <use href="img/svg/icon.svg#up-arrow-alt"></use>
            </svg>
          </button>
          <button
            id="nextBtnPopular"
            class="nav-btn"
            aria-label="Наступний товар"
          >
            <svg class="btn-right" width="25" height="25">
              <use href="img/svg/icon.svg#up-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
