.faq-section {
  padding: 48px 0;
}

@media only screen and (min-width: 1440px) {
  .faq-section {
    padding: 80px 0;
  }
}

.faq-section .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-section .secondary-heading {
  text-align: center;
  margin-bottom: 32px;
}

.accordion-container {
  max-width: 335px;
}

@media only screen and (min-width: 768px) {
  .accordion-container {
    max-width: 704px;
  }
}

@media only screen and (min-width: 1440px) {
  .accordion-container {
    max-width: 865px;
  }
}

.ac {
  border: none !important;
  padding: 24px 0;
  border-top: 1px solid var(--opacity-neutral-darkest-15) !important;
  margin-bottom: 0 !important;
  margin-bottom: 8px;
  background-color: inherit;
  box-sizing: border-box;
}

.ac:last-child {
  border-bottom: 1px solid rgba(--opacity-neutral-darkest-15) !important;
}

.ac .ac-header {
  margin: 0;
  padding: 0;
}

.ac-trigger {
  font-family: var(--font-family) !important;
  font-size: 16px !important;
  font-weight: 700;
  line-height: 160% !important;
  padding: 0 !important;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 100%;
  padding: 8px 32px 8px 8px;
  display: block;
  cursor: pointer;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.77, 0, 0.18, 1);
  position: relative;
  text-decoration: none;
  margin: 0;
  border: 0;
}

.ac-trigger:hover,
.ac-trigger:focus {
  color: var(--color-neutral-dark);
}

.ac-trigger .ac-trigger-icon {
  transition: transform 250ms cubic-bezier(0.77, 0, 0.18, 1);
}

@media (prefers-color-scheme: dark) {
  .ac-trigger .ac-trigger-icon {
    fill: #fff;
  }
  .ac-trigger {
    color: #fff !important;
    transition: opacity 250ms cubic-bezier(0.77, 0, 0.18, 1);
  }

  .ac-trigger:hover,
  .ac-trigger:focus {
    opacity: 0.5 !important;
  }
}

.ac.is-active .ac-trigger .ac-trigger-icon {
  transform: rotate(-180deg);
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.77, 0, 0.18, 1);
}

.ac-text {
  font-family: var(--font-family) !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 160% !important;
}

@media only screen and (min-width: 768px) {
  .ac {
    padding: 20px 0;
  }

  .ac-trigger {
    font-size: 18px !important;
  }

  .ac-text {
    font-size: 18px !important;
    color: var(--color-);
    padding: 8px;
    margin: 0;
  }
}

.ac.js-enabled .ac-panel {
  visibility: hidden;
}

.ac.is-active .ac-panel {
  visibility: visible;
}
