@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-VariableFont_wght.ttf),
    url(../fonts/raleway-variablefont_wght-webfont.woff2) format('woff2'),
    url(../fonts/raleway-variablefont_wght-webfont.woff) format('woff');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}
