.header {
  padding: 16px 0;
}

.header-container {
  position: relative;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.logo-icon {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  line-height: 0;
  display: block;
  fill: #080c09;
}

html.dark .logo-icon {
  fill: #fff;
}

.nav {
  display: none;
}

.desktop-navigation-list {
  display: none;
  list-style: none;
  gap: 32px;
}

.nav-link {
  display: block;
  padding: 8px 0;
  color: #080c09;
  position: relative;
  transition: transform 250ms cubic-bezier(0.77, 0, 0.18, 1),
    opacity 250ms cubic-bezier(0.77, 0, 0.18, 1);
}

html.dark .nav-link {
  color: #fff;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-madang);
  transition: width 250ms cubic-bezier(0.77, 0, 0.18, 1),
    left 250ms cubic-bezier(0.77, 0, 0.18, 1);
}

html.dark .nav-link::after {
  background-color: var(--color-madang-lighter);
}

.nav-link:hover,
.nav-link:focus {
  opacity: 0.5;
  transform: scale(1.05);
}

html.dark .nav-link:hover,
html.dark .nav-link:focus {
  opacity: 0.8;
}

.nav-link:hover::after,
.nav-link:focus::after {
  width: 100%;
  left: 0;
}

/* ===============================================
    CTA BUTTON
   =============================================== */
.cta-button {
  background-color: var(--color-madang);
  color: var(--color-white);
  border: none;
  border-radius: 100px;
  transition: background-color 250ms cubic-bezier(0.77, 0, 0.18, 1);
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
  display: none;
  padding: 10px 20px;
  height: 46px;
  font-weight: 500;
}

.cta-button:hover,
.cta-button:focus {
  background-color: var(--color-madang-light);
}

.menu-toggle-buttons {
  position: relative;
  width: 40px;
  height: 40px;
  display: none;
}

.burger,
.close-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  box-sizing: border-box;
}

.close-menu {
  display: none;
}

.burger-icon,
.close-icon {
  width: 32px;
  height: 32px;
  fill: #080c09;
  transition: opacity 250ms cubic-bezier(0.77, 0, 0.18, 1);
}

html.dark .burger-icon,
html.dark .close-icon {
  fill: #fff;
}

.burger:hover .burger-icon,
.close-menu:hover .close-icon {
  opacity: 0.5;
}

html.dark .burger:hover .burger-icon,
html.dark .close-menu:hover .close-icon {
  opacity: 0.8;
}

.mobile-menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: calc(100vh - 70px);
  background-color: #fff;
  transition: top 250ms cubic-bezier(0.77, 0, 0.18, 1);
  z-index: 999;
}

html.dark .mobile-menu {
  background-color: #121212;
}

.mobile-menu.active {
  top: 72px;
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 24px 32px;
  gap: 32px;
}

.mobile-nav {
  width: 100%;
}

.mobile-navigation-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-align: center;
  align-items: center;
  width: 100%;
}

.mobile-navigation-item {
  width: 100%;
}

.mobile-nav-link {
  display: inline-block;
  color: #080c09;
  text-decoration: none;
  transition: transform 250ms cubic-bezier(0.77, 0, 0.18, 1),
    opacity 250ms cubic-bezier(0.77, 0, 0.18, 1);
  position: relative;
}

html.dark .mobile-nav-link {
  color: #e0e0e0;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus,
.mobile-nav-link:active {
  opacity: 0.5;
  transform: scale(1.05);
}

html.dark .mobile-nav-link:hover,
html.dark .mobile-nav-link:focus,
html.dark .mobile-nav-link:active {
  opacity: 0.8;
  transform: scale(1.05);
}

.mobile-nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--color-madang-light);
  transition: width 250ms cubic-bezier(0.77, 0, 0.18, 1),
    left 250ms cubic-bezier(0.77, 0, 0.18, 1);
}

html.dark .mobile-nav-link::after {
  background-color: var(--color-madang-lighter);
}

.mobile-nav-link:hover::after,
.mobile-nav-link:focus::after {
  width: 100%;
  left: 0;
}

.mobile-cta-button {
  background-color: var(--color-madang);
  color: #fff;
  padding: 10px 20px;
  margin: 0 auto;
  border: none;
  border-radius: 100px;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.77, 0, 0.18, 1);
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2),
    inset 0 0 0 1px var(--opacity-neutral-darkest-15),
    inset 0 2px 1px 0 rgba(255, 255, 255, 0.25),
    inset 0 32px 24px 0 var(--opacity-white-5);
}

.mobile-cta-button:hover,
.mobile-cta-button:focus {
  background-color: var(--color-madang-light);
}

/* ===============================================
    UTILITY
   =============================================== */
body.menu-open {
  overflow: hidden;
}

/* ===============================================
    RESPONSIVE STYLES
   =============================================== */

/* Mobile & Tablet */
@media (max-width: 1439px) {
  .nav,
  .cta-button {
    display: none;
  }

  .menu-toggle-buttons {
    display: block;
  }
}

/* =======================
   TABLET (768px - 1439px)
   ======================= */
@media (min-width: 768px) and (max-width: 1439px) {
  .menu-toggle-wrapper {
    /* position: relative; */
    display: inline-block;
  }

  .mobile-menu {
    position: absolute;
    top: -100%;
    right: 0;
    width: 250px;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 999;
    height: auto;
    left: auto;
  }

  .mobile-menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    top: 56px;
  }

  .mobile-menu-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
  }

  .mobile-navigation-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
  }

  .mobile-cta-button {
    width: 185px;
    align-self: flex-end;
  }
}

/* =======================
   MOBILE (до 767px)
   ======================= */
@media (max-width: 767px) {
  .mobile-menu {
    width: 100%;
    right: 0;
    left: 0;
  }

  .mobile-menu-content {
    align-items: center;
  }

  .mobile-nav {
    text-align: center;
    align-items: center;
  }
}

/* =======================
   DESKTOP (від 1440px)
   ======================= */
@media (min-width: 1440px) {
  .header-container {
    justify-content: flex-start;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  .desktop-navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle-wrapper {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-toggle-buttons,
  .mobile-menu {
    display: none;
  }
}
