.scroll-up {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  right: 10px;
  bottom: 156px;
  border: none;
  background-color: var(--color-madang);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.77, 0, 0.18, 1);
}

.scroll-up:hover,
.scroll-up:focus {
  background-color: var(--color-madang-light);
}

.scroll-up-icon {
  fill: #fff;
}
