.change-theme-btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  left: 50%;
  transform: translateX(calc(160px - 100% - 72px));

  bottom: 104px;
  border: none;
  background-color: var(--color-madang);
  padding: 0;
  margin: 0;
  font-size: 0;
  line-height: 0;
}

@media screen and (min-width: 768px) {
  .change-theme-btn {
    transform: none;
    left: auto;
    right: 10px;
  }
}


.change-theme-btn:hover,
.change-theme-btn:focus {
  background-color: var(--color-madang-light);
}

html.light .change-theme-btn {
  background-color: transparent;
}

html.dark .icon-light {
  fill: #fff;
}

html.light .icon-light {
  display: none;
}

html.light .icon-dark {
  fill: #6b0609;
}

html.light .change-theme-btn:hover .icon-dark,
html.light .change-theme-btn:focus .icon-dark {
  fill: var(--color-madang-light);
}

html.dark .icon-dark {
  display: none;
}
